# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
node_report.csv

# Dependency directories
node_modules/
jspm_packages/

# Tailwind CSS
# .tailwind/

# Vite / React builds
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# npm/Yarn/pnpm lock files (Optional: sometimes committed, but keeping here for completeness if you dont want them tracked)
# package-lock.json
# yarn.lock
# pnpm-lock.yaml
